<a href="/add">Add User</a>

<table>
  <tr>
    <th>User Name</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Phone</th>
    <th>eMail</th>
    <th></th>
  </tr>
  {{#each Users}}
    <tr><td>{{this.userName}}</td><td>{{ this.firstName }} {{ this.lastName }}</td><td>{{this.eMail}}</td><td>{{this.phone}}</td><td><button>Edit</button> <button>Delete</button></td></tr>
  {{/each}}
</table>
