<h1>{{#if provider}}Update{{else}}Add{{/if}} a provider</h1>
<form action="createUpdate" method="POST">
  <p>
    Name <input type="text" name="name" value="{{ this.name }}" /><br />
    Specialty <input type="text" name="specialty" value="{{ this.specialty }}" /><br />
    Address <input type="text" name="address" value="{{ this.contact.address}}" /><br />
    Phone <input type="tel" name="phone" value="{{ this.contact.phone }}" /><br />
    email <input type="email" name="phone" value="{{ this.contact.email }}" /><br />
    Password <input type="password" name="password" value={{this.password}} /><br />
    <input type="hidden" name="id" value="{{ this._id }}" /> <br/>
    <button type="submit">{{#if provider}}Update{{else}}Add{{/if}}a provider</button>
  </p>
</form>
