extends layout
<h1>{{ header }}</h1>
<a href="/createUpdate"><h1>{{#if provider}}Update{{else}}Add{{/if}} a provider</h1></a>

<table>
  <tr>
    <th>Name</th>
    <th>Specialty</th>
    <th>Phone</th>
    <th>email</th>
    <th>Password</th>
    <th></th>
  </tr>
  {{#each providers}}
    <tr><td>{{this.name}}</td>
    <td>{{this.email}}</td>
    <td>{{this.phone}}</td>
    <td>{{this.password}}</td>
    <td><a href="/createUpdate/provider/?id={{this._id}}">Edit</a></td>
    <td><a href="/delete/{{this._id}}"> Delete </a></td></tr>
  {{/each}}
</table>
