
{{#if flashes}}
{{#each flashes}}
<div class="alert alert-success">{{ this }}</div>
{{/each}}
{{/if}}


<p>
  <a href="/add">
    <h1>{{#if provider}}Update{{else}}Add{{/if}} a provider</h1>
  </a></a>
</p>

<h2>{{header}}</h2>

<p>
  <a href= "/specialty">Search by services</a>
</p>

<table>
  <tr>
    <th>Name</th>
    <th>Specialty</th>

  </tr>
  {{#each providers}}
  <tr>
    <td>{{this.name}}</td>
    <td>{{this.specialty}}</td>

    <td><a href ="mailto:{{this.contact.email}}" > Request Appointment </a></td>
    <td><a href="/update/{{this._id}}"> Edit </a></td>
    <td><a href="/delete/{{this._id}}"> Delete </a></td>
  </tr>
  {{/each}}
</table>

