
{{#if flashes}}
{{#each flashes}}
<div class="alert alert-success">{{ this }}</div>
{{/each}}
{{/if}}

<div id="isAuthenticated">
{{#if req.User.isAuthenticated}}<a href="/logout">logout of {{user.name}}</a>{{else}}<a href="/login">login</a>{{/if}}
</div>

<h2>
  <a href="/add">Add a Provider</a>
</h2>

<h1>{{header}}</h1>

<p>
  <a href= "/profession">Search by Profession</a>
</p>

<table>
  <tr>
    <th>Name</th>
    <th>Profession</th>
    <th>Specialty</th>
    <th>Phone</th>
    <th>View Profile</th>

  </tr>
  {{#each providers}}
  <tr>
    <td>{{this.name}}</td>
    <td>{{this.profession}}</td></td>
    <td>[{{this.specialty}}]</td>
    <td>{{this.phone}}</td>
    <td><a href="/profile/{{this._id}}" > Profile </a></td>

    </tr>

    <div class="info" hidden>
      <p>{{this.password}}</p>
      <p>{{this.email}}</p>
      <p>{{this.address}}</p>
      <p>{{this._id}}</p>
      </div>

  {{/each}}
</table>

