<form action = "/specialty" method="POST">
    <h1>Search {{provider}} Services</h1>
    <table>
        <label>Name</label>
    <td><input type="checkbox" id="Psychiatry" name="Psychiatry" value = "/specialty/:{{this.name}}"></td><br/>
    <td><input type="checkbox" id="Counseling" name="Counseling" value ="/specialty/:{{this.name}} "></td><br/>
    <td><input type="checkbox" id="Nutrition" name="Nutrition" value = "/specilaty/:{{this.name}}"></td><br/>
    <td><input type="checkbox" id="Yoga" name="Yoga" value = "/specialty/:{{this.name}}"></td><br/>
    <button type="submit"> Find Services </button>
</table>
    </form>